<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Community Support</h4>
                    <div class="line-dec"></div>
                    <p>At VetCare Clinic, our goal is to ensure every pet receives compassionate care in a welcoming environment, offering tailored services to meet all their health needs.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Our Team</h4>
                    <div class="line-dec"></div>
                    <p> As an integral part of the community, we frequently organize events and initiatives designed to encourage and promote a healthy lifestyle for both pets and their owners.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Our Mission </h4>
                    <div class="line-dec"></div>
                    <p> Our team of experienced veterinarians is committed to guiding and supporting you and your pet, offering personalized care to achieve the best health outcomes and ensure lasting well-being.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>Our Services</h4>
                    <div class="line-dec"></div>
                    <p>We provide a variety of state-of-the-art facilities and tailored services to ensure your pets receive the best care, supporting their health and happiness in a compassionate and effective manner.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>