<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ I had a wonderful experience at PetCare Clinic. The staff is friendly and knowledgeable, and they took great care of my pet. The clinic is clean, and the atmosphere is very welcoming. Highly recommend! ”</p>
                            <h4>George Rich</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ PetCare Clinic is amazing! They provided excellent care for my dog and answered all of my questions with great patience. I feel confident in their ability to provide the best care for my pet. ”</p>
                            <h4>John Henry</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ I can't thank PetCare Clinic enough for their exceptional service. The team was professional, and they made sure my cat was comfortable during her check-up. It's clear they truly care about animals. ”</p>
                            <h4>Danny Cute</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ PetCare Clinic has been an incredible place for my pet's health. The veterinarians are highly skilled, and the facility is well-equipped. I trust them completely with my pet's well-being. ”</p>
                            <h4>Richard Beal</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>