<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>Pet</em>Care</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Home</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">About</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">Services</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Contact</a></li>
                    <li><a href="assets/public/pages-Seconnecter.html" class="login"><i class="fa fa-user"></i>Connexion</a></li>
                </ul>

                

            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Pet</em> <span>Care</span><br> Vet Clinic</h2>
            <p>We Care Your Pets ! At PetCare, we care for your pets as if they were our own, ensuring their happiness, health, and well-being. Our dedicated team provides exceptional care, creating a safe and loving environment for your furry companions.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Go</a>
            </div>
        </div>
    </div>
</div>