<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>Our Clinic </h4>
                        <div class="line-dec"></div>
                        <p>A welcoming space of care and compassion, where pets receive dedicated attention and expert treatment. Our goal is to ensure their health, happiness, and well-being at every visit.  We’re here to help them thrive and live their best lives.</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Vaccinations</span></li>
                                <li class="filter" data-filter="branding"><span>Pet Boarding</span></li>
                                <li class="filter" data-filter="graphic"><span>Pet Treatment</span></li>
                                <li class="filter" data-filter="nature"><span>Preventive Care</span></li>
                                <li class="filter" data-filter="animation"><span>Emergency Services
                                </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="photo-gallery">
                    <div class="row">
                        <!-- Image 1 -->
                        <div class="col-md-4 col-sm-6 project-item mix all">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_4-1.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_4-1.jpg" alt="diseno_gym_4-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Image 2 -->
                        <div class="col-md-4 col-sm-6 project-item mix branding">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_11.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_11.jpg" alt="diseno_gym_11">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Image 3 -->
                        <div class="col-md-4 col-sm-6 project-item mix animation">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_8-1.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_8-1.jpg" alt="diseno_gym_8-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 project-item mix animation">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_6-1.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_6-1.jpg" alt="diseno_gym_8-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Image 4 -->
                        <div class="col-md-4 col-sm-6 project-item mix branding">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_15-1.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_15-1.jpg" alt="diseno_gym_15-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                                    
                       <div class="col-md-4  project-item mix branding">
                            <div class="thumb">
                                <div class="image">
                                    <a href="assets/img/diseno_gym_1-3.jpg" data-lightbox="gallery">
                                        <img src="assets/img/diseno_gym_1-3.jpg" alt="diseno_gym_15-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div> 
</section>
