<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Our Blog </h4>
                        <div class="line-dec"></div>
                        <p>Check out our latest blog post, where we explore the benefits of regular pet check-ups and vaccinations to keep your furry friends healthy and happy. Get inspired to provide the best care for their well-being !</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active"> Healthy Diet Advice</a></li>
                            <li><a href="#tab2"> Grooming Tips</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/squat.webp" alt="">
                            <div class="text-content">
                                <h4>Healthy Diet Advice </h4>
                                <p>Regular grooming is essential for your pet’s health, preventing matting, skin issues, and infections while keeping them comfortable. Our blog provides easy tips to help you make grooming a simple and stress-free routine.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/pushup.jpg" alt="">
                            <div class="text-content">
                                <h4>Grooming Tips</h4>
                                <p>Ensure pets are groomed with gentle handling, using pet-safe shampoos, and maintaining a calm, stress-free environment during baths and dryings. Always check their comfort and health throughout the grooming process.</p>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
